button {
  cursor: pointer;
  background-color: transparent; /* 배경색 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 안쪽 여백 제거 */
  margin: 0; /* 바깥쪽 여백 제거 */
  cursor: pointer; /* 커서를 마우스 포인터로 변경하여 버튼임을 표시 */
}
html {
  background-color: #e5e5e5;
}
ul {
  list-style: none;
}
a {
  /* 기본적인 앵커 스타일 제거 */
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 링크 색상을 상위 요소로 상속 */
  cursor: pointer; /* 커서를 마우스 포인터로 변경하여 링크임을 표시 */

  /* 필요한 추가적인 스타일을 적용합니다 */
  /* 예를 들어, 링크 색상, 배경 색상, 폰트 등을 설정할 수 있습니다 */
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* 뷰포트 높이 설정 */
}

.wrapper {
  position: relative;
  width: 520px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  background: #fff;
  box-sizing: border-box;
  margin-left: calc(50% - 260px);
  /* position: absolute; */
  margin-top: 100px;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #c4c4c4;
  width: 520px;
  margin-bottom: 2px;
}
header h1 {
  color: #000;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 20px 188px 18px;
  text-align: center;
  top: 2px;
}
.icon-x {
  position: absolute;
  margin-left: 480px;
  /* margin-right: 24px; */
  cursor: pointer;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}
h1 {
  display: flex;
  flex-shrink: 0;
  color: #000;
  font-family: Spoqa Han Sans Neo;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin: 24px 0;
}
.input input {
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #fff;
  margin: 0;
  padding: 15px 309px 15px 16px;
}
.input:checked + input: {
  border-color: #f4492e;
}
.id {
  color: #f4492e;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 6px 0px 6px 2px;
}
.inpText {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #fff;
}
/* 체크박스 */
/* input 체크박스는 보일 필요가 없으므로 */

/* 체크가 되었을 때 그 이웃하는 .sidebar를 지정해서 side effect 방지 */
/* .check {
  width: 472px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 21px;
}

#chk {
  display: none;
  width: 20px;
  height: 20px;
  margin: 0;
} */

/* .on-off {
  margin-top: 2px;
  margin-left: 4px;
} */
form {
  margin: 16px 4px;
}
.circle {
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */
  display: inline-block; /* 영역적용가능해짐 */
  width: 22px;
  height: 22px;
  border: 1px solid #666;
  box-sizing: border-box;
  border-radius: 10px; /* 모서리둥글게 처리 */
  position: relative;
  top: 5px;

  background-image: url(https://blog.kakaocdn.net/dn/XTnSL/btrhtUIVtpB/5FungHN6IXVXG8bLbhE9Dk/img.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

#chk:checked + .circle {
  background-color: #2f80ed;
  border-color: #2f80ed;
  background-image: url(https://blog.kakaocdn.net/dn/t7a2D/btrhtVgLYmG/dUxzAkBy9hIZ4gHmyllQrk/img.png);
}
.text {
  color: var(--767676, #767676);
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 8px;
  cursor: pointer; /* 마우스 올렸을때 손모양 처리 */
}
/* 체크박스는 display:none;을 주면 데이터 처리가 안됨 */
#chk {
  position: absolute;
  left: -999em;
}
.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.or span {
  color: #767676;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 12px;
}
.underline {
  width: 210px;
  height: 1px;
  flex-shrink: 0;
  background: #c4c4c4;
}
.loginbtn {
  height: 50px;
  margin-top: 4px;
  border-radius: 5px;
  background: #2f80ed;
  color: #fff;
  font-family: Spoqa Han Sans Neo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}
.join-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #767676;
  font-family: Spoqa Han Sans Neo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.join-login span {
  margin: 0 12px;
  cursor: default;
}

/* footer */
footer {
  margin-bottom: 25px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 24px;
}
footer a {
  text-decoration: none;
  color: #767676;
  text-align: center;
  font-family: Spoqa Han Sans Neo;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.button {
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.google {
  background-image: url(./img/Google__G__Logo\ 1.png);
  border: 1px solid #767676;
}
.google:hover {
  background-color: rgba(199, 199, 199, 0.2);
}
.facebook {
  background-image: url(./img/facebook.png);
  border: 1px solid #2d9cdb;
}
.facebook:hover {
  background-color: rgba(147, 191, 223, 0.1);
}
.naver {
  background-image: url(./img/naver-logo.png);

  border: 1px solid #00bf18;
}
.naver:hover {
  background-color: rgba(140, 222, 143, 0.1);
}
.kakao {
  background-image: url(./img/message-circle.png);
  border: 1px solid #f2c94c;
}
.kakao:hover {
  background-color: rgba(222, 219, 140, 0.1);
}
